.nav {
    display: flex;
    justify-content: center;
    background-color: cadetblue;
}
.size {
    text-decoration: none;
    font-size: 32px;
}
.textColor {
    color: blue;
}
.margin {
    margin-left: 16px;
}
.textColor2 {
    color: white;
}
